<!--
<p><%#= "'w,s,d' moves #{@player1.name} (Toad). 'up, down, right' advances #{@player2.name} (Mario)." %></p>
<p>You are playing on a <%#= @track_length %> long track.</p> -->

<!-- <div id="restart_game_button" style="display: none">
  <button type="button" onclick="restartGame()">Restart Game!</button>
</div>

<br>

<table class="racer_table">
  <tr id="player1_top_strip" name-one-id="<%= @player1.name %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player1_bottom_strip">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br><br>
<table class="racer_table">
  <tr id="player2_top_strip" name-two-id="<%= @player2.name %>">
    <td class="active" ></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_bottom_strip">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table> -->
